<?xml version="1.0" encoding="UTF-8"?>

<application-configuration>
  <setupStep>setupLicense</setupStep>
  <setupType>initial</setupType>
  <buildNumber>{{ bamboo_build_number }}</buildNumber>
  <properties>
    <property name="bamboo.jms.broker.uri">{{ bamboo_broker_uri }}</property>
    {% if bamboo_broker_client_uri | length > 0 %}
    <property name="bamboo.jms.broker.client.uri">{{ bamboo_broker_client_uri }}</property>
    {% endif %}
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
    <property name="hibernate.hikari.idleTimeout">{{ bamboo_database_timeout }}</property>
    <property name="hibernate.hikari.maximumPoolSize">{{ bamboo_database_pool.max }}</property>
    <property name="hibernate.hikari.minimumIdle">{{ bamboo_database_pool.min }}</property>
    <property name="hibernate.hikari.registerMbeans">true</property>
  </properties>
</application-configuration>
