[Unit]
Description=Atlassian Bamboo
After=syslog.target network.target

[Service]
Type=forking
Environment=CATALINA_PID={{ bamboo_home_directory }}/bin/Catalina.pid
Environment=JAVA_HOME={{ bamboo_home_directory }}/jdk
{% if banboo_unattended_installation %}
Environment=JVM_SUPPORT_RECOMMENDED_ARGS=-Dbamboo.setup.settings={{ bamboo_home_directory }}/unattended-setup.properties
{% endif %}
PIDFile={{ bamboo_home_directory }}/bin/Catalina.pid
ExecStart={{ bamboo_home_directory }}/bin/start-bamboo.sh
ExecStop={{ bamboo_home_directory }}/bin/stop-bamboo.sh
SuccessExitStatus=143
User={{ bamboo_system_user }}
Group={{ bamboo_system_user }}
UMask=0007
RestartSec=10
Restart=always
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target